doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/vendor/jszip.js')
    script(src='/javascripts/vendor/jszip-utils.js')
    script(src='/javascripts/vendor/FileSaver.js')
    script(src='/javascripts/utils.js')
    script(src='/javascripts/zipedizip_write.js')
    script(src='/javascripts/zipedizip_read.js')
